include /elements/images

mixin cc-controls({})
  .cc-controls
    button.cc-controls__btn.green
      +svg({ name: "auto-front" })
    button.cc-controls__btn.green
      +svg({ name: "messeger" })
    button.cc-controls__btn
      +svg({ name: "call-phone" })
