extends /elements/layout-page
include /components/modal/cc-modal-call-note
include /components/cc-toast-notify

block data
  - title = "Rx2Go Admin: Call Center — Set Call Note"
  - headerTitle = "Call Center"

block content
  .overlay.show(onclick="closeModal")
    .overlay__dialog
      +cc-modal-call-note({})
  +cc-toast-notify({ text: "You won't be able to close the window until you leave the call notes" })
